

/*DOCUMENTO CSS GENERAL PARA TODAS LAS PAGINAS */

	.jumbotron{
		background-color: #ccff99;

	}
	.cuerpo{
		background-color: #CECECE;
	}
.blue {
	color:#000099;
	font-style: bold;
	font-family: Arial;
	text-align: left;
}

.tabla {
	width: 80%;
	border-collapse: collapse;
	border-color: black;
	}

#Texto_puntero:hover{
	height: 40px;
	width: 100px;
	position: absolute;
}
#Texto_puntero {
	height: 30px;
	width:  30px;
	overflow: hidden;
	position: absolute;
}
